$white: #fff;
$body_bg:#f2f2f2;
$paypal_bg:#f7f7f7;
$alarm_pink:#ffebee;
$font_main:#444;
$font_placeholder:#757575;
$font_alarm:#ef5350;
$orange_start:#ffa200;
$orange_end:#fd7722;
$border_grey:#ccc;
$border_paypal:#ddd;